body {
  font-family: MicrosoftJhengHei;
}

body::-webkit-scrollbar {
  display: none;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 40px;
}

.navbar .wrapper {
  height: 70px;
  background: white;
  display: flex;
  align-items: center;
  text-align: center;
  
}

.navbar__siteName {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.navbar__activeList{
  display: flex;
  justify-content: space-between;
  max-width: inherit;
  flex-grow: 1;
}

.activeList {
  display: flex;
  list-style: none;
  width: auto;
}

.activeList li {
  margin: 0px 5px;
}

.activeList li a {
  font-size: 16px;
  color: #787878;
  text-decoration: none;
}

.blogIntro {
  background: linear-gradient(#000000, #434343);
  height: 200px;
  color: white;
  text-align: center;
  position: relative;
}

.blogIntro div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blogIntro div h1 {
  font-weight: bold;
  font-size: 28px;
}

.blogIntro div h3 {
  font-weight: normal;
  font-size: 14px;
}

.blog_main {
  margin: 20px 300px;
}

.perArticle, .newArticle {
  border: 1px #9a9a9a solid;
  top: 300px;
  padding: 15px;
  margin-bottom: 25px;
}

.welcome {
  position: relative;
}

.perAdmin {
  position: relative;
  margin: 20px 0;
  border-bottom: 1px #9a9a9a solid;
}

.btn {
  border: 1px #737373 solid;
  padding: 5px;
  border-radius: 3px;
  text-decoration: none;
}

.functionBtn {
  position: absolute;
  top: 0;
  right: 0;
}

.edit, .delete {
  font-size: 12px;
  box-sizing: border-box;
  color: #737373;
  margin-left: 7px;
}

.title {
  font-size: 16px;
  color: #000;
  margin-bottom: 15px;
}

.time {
  background: #eeeeee;
  margin-bottom: 15px;
  padding: 10px;
  color: #8f8f8f;
  border-radius: 3px;
}

.date {
  font-size: 14px;
  color: #737373;
}

.simpleContent {
  margin: 15px 0 30px 0;
  line-height: 1.5rem;
  overflow-wrap: break-word;
  white-space: pre-line;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wholeContent {
  margin: 15px 0 30px 0;
  line-height: 1.5rem;
  overflow-wrap: break-word;
  white-space: pre-line;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.newArticle form {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 30px;
}

.newArticleInfo {
  display: flex;
  flex-direction: column;
}

.newArticleInfo input, textarea {
  margin-bottom: 10px;
}

.addBtn {
  position: absolute;
  right: 0px;
}

.blogFooter {
  font-size: 14px;
  font-weight: normal;
  color: #fefefe;
  padding: 10px 5px;
  background: #323232;
  text-align: center;
  margin-top: 50px;
}

/* blog_login */

.login {
  max-width: 360px;
  padding: 40px 60px 80px 60px;
  margin: 60px auto;
  border: 1px #000000 solid;
}

.login h1 {
  text-align: center;
  margin-bottom: 60px;
}

.loginInfo, .login form {
  display: flex;
  flex-direction: column;
}

.loginInfo span {
  margin-left: 10px;
  font-size: 14px;
  color: #000;
}

.loginInfo input {
  margin-bottom: 20px;
}

.loginBtn {
  background: linear-gradient( #000, #434343);
  padding: 16px 0;
  margin-top: 40px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  color: #fffefe;
  text-align: center;
}